* {
    margin: 10px;
    text-align: center;
}

.box {
  
   
    display: flex;
   
     gap:4rem

}
 .buttonthree1 {
  background-color: rgb(111, 111, 164);
  color: white;
  border: none;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 
  cursor: pointer;
  border-radius: 8px;
}
 
 
.buttonone:hover::after {
  content: "Boo 🤖";
 font-size: 4rem;
   
}

 
 
.buttontwo:hover::after {
  content: "world!";
  background-color: rgb(217, 118, 226);

}

 
.buttonthree:hover::after {
  content: "Completed!";
  padding: 2rem;
  
}
